@use '../../styles/colors' as *;
.CharacterList {
  padding: 20px 48px;
}
.CharacterList-filter {
  margin: 0px;
  font-size: 12px;
  color: $black;
}
.CharacterList-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 24px;
}
.CharacterList-more {
  display: flex;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.CharacterList-more__button {
  margin: auto;
  padding: 5px 20px;
  background: linear-gradient(315deg, transparent 4px, $red 4px);
  color: $white;
  border: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.CharacterList-loading {
  display: flex;
  margin-bottom: 20px;
  img {
    margin: auto;
  }
}
