@use '../../styles/colors' as *;
.FavList {
  padding: 20px 48px;
  .FavList-filter {
    margin: 0px;
    font-size: 12px;
    color: $black;
  }
}
.FavList-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 24px;
}
.FavList-body__title p {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}
.FavList-body__title {
  font-weight: 700;
  font-size: 32px;
  margin: 0 6px;
}
.FavList-body {
  margin: auto;
  margin-bottom: 20px;
}
